In [1]:
import pandas as pd

In [22]:
PATH_FILE = "/content/sample_data/california_housing_train.csv"
df_house = pd.read_csv(PATH_FILE)

In [23]:
type(df_house)

pandas.core.frame.DataFrame

In [24]:
df_house.shape

(17000, 9)

In [25]:
df_house.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [26]:
df_house[0:5][['longitude','median_income','population']]
# เลือก df_house 5row แรกโดยเลือกสาม column ข้างบน

   longitude  median_income  population
0    -114.31         1.4936      1015.0
1    -114.47         1.8200      1129.0
2    -114.56         1.6509       333.0
3    -114.57         3.1917       515.0
4    -114.57         1.9250       624.0

In [27]:
df_house[df_house['population'] > 1000]
# เลือก df_house โดยมีเงื่อนไงว่า population ต้องมากกว่า 1000

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
6        -114.58     33.61  ...         2.6768             82400.0
8        -114.59     33.61  ...         2.1782             58400.0
10       -114.60     33.62  ...         2.6797             86500.0
...          ...       ...  ...            ...                 ...
16991    -124.23     41.75  ...         2.4805             73200.0
16993    -124.23     40.54  ...         3.0806            106700.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0

[10299 rows x 9 columns]

In [28]:
df_house[(df_house["population"] > 1000) & (df_house["total_rooms"] >= 5000)].shape
# เลือก df_house โดยมีสองเงื่อนไง คือ population > 1000 และ total_rooms >= 5000
# .shape คือเอาไว้ดูว่ามีกี่ row กี่ coulmn

(1438, 9)

In [29]:
df_house[(df_house["population"] > 1000) & (df_house["total_rooms"] == 5000)].shape
# เลือก df_house โดยมีสองเงื่อนไง คือ population > 1000 และ total_rooms == 5000
# .shape คือเอาไว้ดูว่ามีกี่ row กี่ coulmn

(0, 9)

In [30]:
df_house[(df_house["population"] > 1000) & (df_house["total_rooms"] != 5000)].shape
# เลือก df_house โดยมีสองเงื่อนไง คือ population > 1000 และ total_rooms != 5000 [!= คือ เครื่องหมายไม่เท่ากับ]
# .shape คือเอาไว้ดูว่ามีกี่ row กี่ coulmn

(10299, 9)

In [31]:
condition_1 = (df_house["population"] > 1000)
condition_2 = (df_house["total_rooms"] == 5000)
condition_3 = (df_house["households"] <= 500)

df_house[condition_1 & condition_2 & condition_3]
# กำหนดเงื่อนไง 3 อัน และดู df_house แต่ไม่มีแถวไหนเลยที่ตรงกับเงื่อนไง จึงออกมาแต่ column

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [34]:
#เรียกดูข้อมู data frame house 3 แถวแรก
df_house[:3]

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0

[3 rows x 9 columns]

# Data Types
1. Numerical Data:
2. Categorical Data:
3. Spatial Data:

In [36]:
#วิเคราะห์ทางสถิติเบื้องต้นเรียกดูค่าพื้นฐานทางสถิติทั้งหมด
df_house.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [37]:
# นับจำนวน columns
len(df_house.columns)

9

In [38]:
# เอาข้อมูลหลัก total_rooms มาบวกกับข้อมูลหลัก total_bedrooms เพื่อสร้าง column ใหม่ชื่อ all_rooms
df_house["all_rooms"] = df_house["total_rooms"] + df_house["total_bedrooms"]

In [40]:
#เรียกดูข้อมูลอันใหม่เพื่อดู columns อันใหม่ all_rooms ที่สร้าง
#โดยเรียกดูสามแถวแรก
df_house[:3]

   longitude  latitude  ...  median_house_value  all_rooms
0    -114.31     34.19  ...             66900.0     6895.0
1    -114.47     34.40  ...             80100.0     9551.0
2    -114.56     33.69  ...             85700.0      894.0

[3 rows x 10 columns]

In [41]:
#สร้าง coulumnใหม่ โดยเอา population มาหาร households
df_house["pop_dense"] = df_house["population"] / df_house["households"]

In [42]:
#เรียกดูข้อมูลเฉพาะ pop_dense และ population และ households 3 แถวแรก
df_house[["pop_dense", "population", "households"]][:3]

   pop_dense  population  households
0   2.150424      1015.0       472.0
1   2.438445      1129.0       463.0
2   2.846154       333.0       117.0

In [43]:
#สร้าง house_price โดยเอา median_house_value + ( median_house_value* 20%)
df_house["house_price"] = df_house["median_house_value"] + (df_house["median_house_value"] * 0.2)

In [45]:
#เรียกดู df_house , median_house_value, house_price 3 แถวโดยการสุ่มแบบไม่เรียง
df_house[["median_house_value", "house_price"]].sample(3)

      median_house_value  house_price
9231             86200.0     103440.0
9358            224200.0     269040.0
2506             88300.0     105960.0

In [51]:
PATH_FILE_SAVE = "/content/sample_data/new_california_housing_train.csv"

In [52]:
df_house.to_csv(PATH_FILE_SAVE)

In [53]:
NEW_PATH_FILE = "/content/drive/My Drive/Pandas รอบที่ 5/app_luxe.xlsx"

In [55]:
#ไม่ขึ้นเพราะไม่มี file pd.read อ่านได้หลายนามสกุล
df_apps = pd.read_excel(NEW_PATH_FILE)

FileNotFoundError: ignored

In [61]:
PATH_URL = "https://www.settrade.com/C04_02_stock_historical_p1.jsp?txtSymbol=AU&ssoPageId=10&selectPage=2"
df_au = pd.read_html(PATH_URL)
# ดึงข้อมูลจากเว็บไซต์หุ้น

In [62]:
df_au[0].to_csv()

',วันที่,ราคาเปิด,ราคาสูงสุด,ราคาต่ำสุด,ราคาเฉลี่ย,ราคาปิด,เปลี่ยนแปลง,%เปลี่ยนแปลง,ปริมาณ(พันหุ้น),มูลค่า(ล้านบาท),SETIndex,%เปลี่ยนแปลง.1\n0,28/04/21,10.2,10.5,10.2,10.34,10.3,0.1,0.98,1456.63,15.06,1576.79,1.13\n1,27/04/21,10.3,10.5,10.2,10.3,10.2,0.0,0.0,2510.3,25.87,1559.23,-0.02\n2,26/04/21,10.1,10.2,10.0,10.12,10.2,0.0,0.0,885.78,8.97,1559.53,0.38\n3,23/04/21,10.1,10.3,10.1,10.16,10.2,0.0,0.0,1788.35,18.16,1553.59,-0.93\n4,22/04/21,10.5,10.5,10.2,10.33,10.2,-0.2,-1.92,1562.52,16.14,1568.21,-0.75\n5,21/04/21,10.6,10.6,10.4,10.47,10.4,-0.1,-0.95,1046.16,10.95,1580.01,-0.0\n6,20/04/21,10.6,10.6,10.4,10.54,10.5,0.0,0.0,1201.41,12.67,1580.04,0.33\n7,19/04/21,10.4,10.9,10.4,10.67,10.5,0.1,0.96,2720.19,29.01,1574.91,1.68\n8,16/04/21,10.5,10.6,10.1,10.36,10.4,-0.1,-0.95,1473.08,15.26,1548.96,0.51\n9,12/04/21,10.8,10.8,10.4,10.55,10.5,-0.4,-3.67,2322.06,24.5,1541.12,-1.61\n10,09/04/21,11.0,11.2,10.8,10.96,10.9,-0.1,-0.91,2077.99,22.77,1566.34,0.48\n11,08/04/21,10.9,11.2,10.9,11.01,11.0,0.0,0.0,1746.8,19.24,1558.83,0.15\n12,07/04/21,11.0,11.2,10.9,11.06,11.0,-0.4,-3.51,4043.42,44.72,1556.56,-1.46\n13,05/04/21,12.0,12.1,11.0,11.49,11.4,-0.5,-4.2,6087.86,69.92,1579.66,-1.04\n14,02/04/21,11.7,12.1,11.7,11.96,11.9,0.3,2.59,7436.63,88.94,1596.27,0.07\n'

In [63]:
df_au

[      วันที่  ราคาเปิด  ราคาสูงสุด  ...  มูลค่า(ล้านบาท)  SETIndex  %เปลี่ยนแปลง.1
 0   28/04/21      10.2        10.5  ...            15.06   1576.79            1.13
 1   27/04/21      10.3        10.5  ...            25.87   1559.23           -0.02
 2   26/04/21      10.1        10.2  ...             8.97   1559.53            0.38
 3   23/04/21      10.1        10.3  ...            18.16   1553.59           -0.93
 4   22/04/21      10.5        10.5  ...            16.14   1568.21           -0.75
 5   21/04/21      10.6        10.6  ...            10.95   1580.01           -0.00
 6   20/04/21      10.6        10.6  ...            12.67   1580.04            0.33
 7   19/04/21      10.4        10.9  ...            29.01   1574.91            1.68
 8   16/04/21      10.5        10.6  ...            15.26   1548.96            0.51
 9   12/04/21      10.8        10.8  ...            24.50   1541.12           -1.61
 10  09/04/21      11.0        11.2  ...            22.77   1566.34            0.48
 11  08/04/21      10.9        11.2  ...            19.24   1558.83            0.15
 12  07/04/21      11.0        11.2  ...            44.72   1556.56           -1.46
 13  05/04/21      12.0        12.1  ...            69.92   1579.66           -1.04
 14  02/04/21      11.7        12.1  ...            88.94   1596.27            0.07

 [15 rows x 12 columns],   Symbol Last Chg
 0      -    -   -
 1      -    -   -
 2      -    -   -, Empty DataFrame
 Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 3]
 Index: []]