# -*- coding: utf-8 -*-

# **Intro to Python 101**

In [3]:
- variable
- data types
- data structures : list, tuple
- function

SyntaxError: ignored

In [4]:
# basic calculation
print(1 + 1)
print(2 * 2)
print(10 - 2)
print(5 / 2)
print(5 // 2)  ## floor division
print(9 // 4)
print(5 ** 3)  ## power
print(9 % 2)   ## modulo

2
4
8
2.5
2
2
125
1

# **Variable**

In [5]:
# variable assignment
salary = 50000
expense = 34000
saving = salary - expense

print(saving)

16000

In [6]:
# delete variable
del salary
del saving

In [7]:
## tuple unpacking (multiple assignments)
my_name, my_salary, my_expense = "Toy", 50000, 34000
print(my_name)
print(my_salary)
print(my_expense)

Toy
50000
34000

# **String**

In [8]:
text = "I'm learning Python!"
print(text)

I'm learning Python!

In [9]:
## escaping character \
text2 = 'I am learning \'Python\''
print(text2)

I am learning 'Python'

In [10]:
text3 = """This is a very long string
Hello World
This is my first time writing Python!
"""

In [11]:
print(text3)

This is a very long string
Hello World
This is my first time writing Python!

In [12]:
# print string
print("Hello", "World", "Python")

Hello World Python

In [13]:
"Hello" + " World" + " I'm learning Python!"

"Hello World I'm learning Python!"

In [17]:
# fstring // format string template
my_name = "Aum"
my_age = 33

In [18]:
text = f"Hello! my name is {my_name} and I am {my_age} years old."

In [19]:
print(text)

Hello! my name is Aum and I am 33 years old.

In [20]:
# method = function designed for specific class
# string method

text = "a duck duck walks into a bar."

In [21]:
text.upper()

'A DUCK DUCK WALKS INTO A BAR.'

In [22]:
text.capitalize()

'A duck duck walks into a bar.'

In [23]:
text.count("duck")

2

In [24]:
text.replace("duck", "chicken")

'a chicken chicken walks into a bar.'

# **Data Type**

- int
- float
- string
- bool (boolean)

In [25]:
# int
x = 100
type(x)

int

In [26]:
# float
gpa = 3.5
type(gpa)

float

In [27]:
# string
language = "Python"
type(language)

str

In [28]:
# bool
print(10 * 2 == 20)
print(10 * 2 > 30)
print("Hello" != "Hello")

True
False
False

In [29]:
"Toy" == "toy"

False

# **Data Structures**

- list
- tuple

In [30]:
# create a new list
fruits = ["apple", "orange", "mango", "pineapple", "grape"]

In [31]:
fruits

['apple', 'orange', 'mango', 'pineapple', 'grape']

In [32]:
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
orange
mango

In [33]:
print(fruits[0:3]) ## 3 exclusive

['apple', 'orange', 'mango']

In [34]:
print(fruits[2: ])

['mango', 'pineapple', 'grape']

In [35]:
## add strawberry at the end of the list
fruits.append("strawberry")  ## list method
print(fruits)

['apple', 'orange', 'mango', 'pineapple', 'grape', 'strawberry']

In [36]:
fruits.append("durian")
print(fruits)

['apple', 'orange', 'mango', 'pineapple', 'grape', 'strawberry', 'durian']

In [37]:
fruits.remove("orange")
print(fruits)

['apple', 'mango', 'pineapple', 'grape', 'strawberry', 'durian']

In [38]:
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'mango', 'pineapple', 'grape', 'strawberry', 'durian']

In [39]:
## for loop (Control Flow)
for item in fruits:
    print(item.upper())

APPLE
ORANGE
MANGO
PINEAPPLE
GRAPE
STRAWBERRY
DURIAN

In [40]:
fruits_uppercase = []  ## empty list

In [41]:
for fruit in fruits:
    x = fruit.upper()
    fruits_uppercase.append(x)

In [42]:
print(fruits_uppercase)

['APPLE', 'ORANGE', 'MANGO', 'PINEAPPLE', 'GRAPE', 'STRAWBERRY', 'DURIAN']

In [43]:
## tuple
gpa = (3.5, 3.4, 3.89)
print(gpa)  ## immutable

(3.5, 3.4, 3.89)

# **Function**

In [45]:
def add_two_nums(a, b):
    return a + b

In [46]:
result = add_two_nums(100, 20)

In [47]:
print(result)

120

In [48]:
def greeting():
    username = input("What is your name? ")
    print("Hello " + username)
    feeling = input("How are you today? ")
    print(f"{username} feels {feeling}!")
    print("That's great, hope you are well!")

In [49]:
greeting()

What is your name? Natthaphol
Hello Natthaphol
How are you today? Great
Natthaphol feels Great!
That's great, hope you are well!