In [91]:
import pandas as pd
import numpy as np

In [64]:
PATH = "/content/17k-apple-app-store-strategy-games.zip"

In [65]:
df_apps = pd.read_csv(PATH)

In [66]:
df_apps[5:11]

                                                  URL  ...  Current Version Release Date
5   https://apps.apple.com/us/app/sudoku-classic-n...  ...                    29/04/2019
6   https://apps.apple.com/us/app/gravitation/id28...  ...                    14/11/2013
7    https://apps.apple.com/us/app/colony/id286363959  ...                     3/10/2018
8     https://apps.apple.com/us/app/carte/id286566987  ...                    23/11/2017
9   https://apps.apple.com/us/app/barrels-o-fun/id...  ...                     1/08/2008
10  https://apps.apple.com/us/app/quaddraxx/id2875...  ...                    30/09/2008

[6 rows x 18 columns]

In [67]:
# ไว้สำหรับเช็ค Dimension ตาราง
df_apps.shape

(17007, 18)

In [68]:

df_apps.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [69]:
df_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17007 entries, 0 to 17006
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   URL                           17007 non-null  object
 1   ID                            17007 non-null  int64
 2   Name                          17007 non-null  object
 3   Subtitle                      5261 non-null   object
 4   Icon URL                      17007 non-null  object
 5   Average User Rating           7561 non-null   float64
 6   User Rating Count             7561 non-null   float64
 7   Price                         16983 non-null  float64
 8   In-app Purchases              7683 non-null   object
 9   Description                   17007 non-null  object
 10  Developer                     17007 non-null  object
 11  Age Rating                    17007 non-null  object
 12  Languages                     16947 non-null  object
 13  Size                          17006 non-null  float64
 14  Primary Genre                 17007 non-null  object
 15  Genres                        17007 non-null  object
 16  Original Release Date         17007 non-null  object
 17  Current Version Release Date  17007 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.3+ MB

In [70]:
# Data type Series
df_apps["Price"].mean()

0.8134187128304518

In [71]:
df_apps[["Price"]][0:5]

   Price
0   2.99
1   1.99
2   0.00
3   0.00
4   2.99

In [72]:
df_apps.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [73]:
df_apps[['Name', 'Average User Rating']][:3]

      Name  Average User Rating
0   Sudoku                  4.0
1  Reversi                  3.5
2  Morocco                  3.0

In [74]:
df_apps[df_apps["Average User Rating"] > 4.5]

                                                     URL  ...  Current Version Release Date
160    https://apps.apple.com/us/app/slideswipe/id329...  ...                     4/10/2016
185    https://apps.apple.com/us/app/king-of-dragon-p...  ...                    18/10/2018
210    https://apps.apple.com/us/app/shottactoe/id341...  ...                    22/09/2016
251    https://apps.apple.com/us/app/sync-ball/id3562...  ...                     4/11/2017
275    https://apps.apple.com/us/app/worp-hd-next-gen...  ...                    25/10/2016
...                                                  ...  ...                           ...
16932  https://apps.apple.com/us/app/spatula-tft-chea...  ...                     1/08/2019
16956  https://apps.apple.com/us/app/basic-slosh/id14...  ...                    23/07/2019
16962  https://apps.apple.com/us/app/idle-racing-tyco...  ...                    31/07/2019
16967  https://apps.apple.com/us/app/glow-hockey-stri...  ...                    28/07/2019
16993  https://apps.apple.com/us/app/agadmator-chess-...  ...                    30/07/2019

[990 rows x 18 columns]

In [75]:
df_apps.describe()

                 ID  Average User Rating  ...         Price          Size
count  1.700700e+04          7561.000000  ...  16983.000000  1.700600e+04
mean   1.059614e+09             4.060905  ...      0.813419  1.157064e+08
std    2.999676e+08             0.751428  ...      7.835732  2.036477e+08
min    2.849214e+08             1.000000  ...      0.000000  5.132800e+04
25%    8.996543e+08             3.500000  ...      0.000000  2.295014e+07
50%    1.112286e+09             4.500000  ...      0.000000  5.676895e+07
75%    1.286983e+09             4.500000  ...      0.000000  1.330271e+08
max    1.475077e+09             5.000000  ...    179.990000  4.005591e+09

[8 rows x 5 columns]

In [76]:
df_apps.sort_values(by="Average User Rating",
                    ascending=False)[["Name"]][:5]

                                    Name
16993              Agadmator Chess Clock
2733              Optical Inquisitor 17+
12034  Watermelon Evolution Food Clicker
2730               Rush for gold: Alaska
12051      "Jean's Sundaeria : Tap Dash"

In [77]:
df_apps.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [78]:
value_cols = ['Average User Rating',
'Price',
'In-app Purchases',
'User Rating Count']

In [79]:
df_apps[value_cols].describe()

       Average User Rating         Price  User Rating Count
count          7561.000000  16983.000000       7.561000e+03
mean              4.060905      0.813419       3.306531e+03
std               0.751428      7.835732       4.232256e+04
min               1.000000      0.000000       5.000000e+00
25%               3.500000      0.000000       1.200000e+01
50%               4.500000      0.000000       4.600000e+01
75%               4.500000      0.000000       3.090000e+02
max               5.000000    179.990000       3.032734e+06

In [80]:
df_apps[['In-app Purchases']].sample(10)

                                        In-app Purchases
10222                                                NaN
8180                                          3.99, 1.99
12642  3.99, 2.99, 3.99, 0.99, 0.99, 0.99, 0.99, 1.99...
6496                                                 NaN
15663                                                NaN
6582                                                 NaN
7683                                                 NaN
7361                                          1.99, 0.99
3356                                                 NaN
12197                                                NaN

In [81]:
df_apps['In-app Purchases'] = df_apps['In-app Purchases'].fillna(0)

In [82]:
df_apps[['In-app Purchases']].sample(3)

             In-app Purchases
12594                       0
14618                       0
11732  0.99, 0.99, 0.99, 2.99

In [83]:
def process_inapp_purchase(value_purchase):
    str_purchase = str(value_purchase)
    str_list = str_purchase.split(", ")
    float_list = [ float(x) for x in str_list ]
    mean_purchase = np.mean(float_list)
    return mean_purchase

In [92]:
df_apps['Avg In-app Purchases'] = \
    df_apps['In-app Purchases'].apply(process_inapp_purchase)

In [93]:
df_apps['Avg In-app Purchases'].min(), \
df_apps['Avg In-app Purchases'].max()

(0.0, 89.99000000000001)

## **Normalization**

In [94]:
from sklearn.preprocessing import MinMaxScaler

In [95]:
normalization = MinMaxScaler((1,10))

In [96]:
df_apps[['Average User Rating',
        'Price',
        'Avg In-app Purchases',
        'User Rating Count']] = normalization.fit_transform(df_apps[['Average User Rating',
                                    'Price',
                                    'Avg In-app Purchases',
                                    'User Rating Count']])

In [97]:
df_apps[['Average User Rating',
        'Price',
        'Avg In-app Purchases',
        'User Rating Count']].describe()

       Average User Rating  ...  User Rating Count
count          7561.000000  ...        7561.000000
mean              7.887035  ...           1.009798
std               1.690712  ...           0.125597
min               1.000000  ...           1.000000
25%               6.625000  ...           1.000021
50%               8.875000  ...           1.000122
75%               8.875000  ...           1.000902
max              10.000000  ...          10.000000

[8 rows x 4 columns]

In [101]:
df_apps["luxe_score"] = df_apps[['Average User Rating',
        'Price',
        'Avg In-app Purchases',
        'User Rating Count']].mean(axis=1)

In [102]:
df_luxe = df_apps.sort_values(by="luxe_score", ascending=False)\
    [["Name", "luxe_score"]]

In [103]:
PATH_LOAD

'/content/drive/My Drive/pandas รอบที่ 4/17k-apple-app-store-strategy-games.zip'

In [107]:
PATH_SAVE = '/content/final_luxe_apps.csv'

In [108]:
df_luxe.to_csv(PATH_SAVE)