# **Basic Python**

In [ ]:
# create new variables
name = "Toy"
age = 32

print(name)
print(age)

Toy
32

In [ ]:
# fstring template
print( f"Hello my name is {name} and I am {age} years old." )

Hello my name is Toy and I am 32 years old.

In [ ]:
# data structures in python
shopping_list = ["eggs", "milk", "bread", "carrot"]
print(shopping_list)

['eggs', 'milk', 'bread', 'carrot']

In [ ]:
# control flow
for item in shopping_list:
    print(item.upper())

EGGS
MILK
BREAD
CARROT

In [ ]:
# list comprehension
upper_shopping_list = [item.upper() for item in shopping_list]
print(upper_shopping_list)

['EGGS', 'MILK', 'BREAD', 'CARROT']

In [ ]:
# create new function + type hints
def hello(name: str) -> None:
    print(f"Hello {name}!")

In [ ]:
hello(name = 'toy')

Hello toy!

In [ ]:
# new function 
def add_two_nums(a: int, b: float) -> float:
    return a+b

result = add_two_nums(5.23, 10.2)
print(result)

15.43

# **OOP**

In [ ]:
class Dog():
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed
    
    def __str__(self):
        return f"I am a dog name {self.name}"

    def barking(self):
        print("Hong Hong!!")

    def eating(self, food):
        print(f"I am eating {food}. It's so delicious.")

In [ ]:
my_dog = Dog("jonathan", 3, 'dalmatian')

In [ ]:
my_dog.barking()

Hong Hong!!

In [ ]:
my_dog.eating('Hotdog')

I am eating Hotdog. It's so delicious.

In [ ]:
print(my_dog)

I am a dog name jonathan

In [ ]:
# Book Class
class Book():
    def __init__(self, title, year, genre, length):
        self.title = title
        self.year = year
        self.genre = genre
        self.length = length
    
    def __str__(self):
        return f"Book title: {self.title} Author: {self.author}"

    def add_author(self, author):
        self.author = author

In [ ]:
my_book = Book('Business Made Simple', 2021, 'Business', 203)

In [ ]:
print(my_book.title)
print(my_book.year)
print(my_book.genre)
print(my_book.length)

Business Made Simple
2021
Business
203

In [ ]:
my_book.add_author('Donald Miller')
print(my_book)

Book title: Business Made Simple Author: Donald Miller

# **CSV Monster**

In [ ]:
import csv 

list_data = []

with open('hotel.csv', 'r') as file:
    data = csv.reader(file)
    for row in data:
        list_data.append(row)

print(list_data)

[['id', 'hotel', 'location', 'pricepernight'], ['1', 'Ideo', 'Bangkok', '20'], ['2', 'Accor', 'London', '25'], ['3', 'Premium', 'Seoul', '32'], ['4', 'Super Star', 'Dubai', '50'], ['5', 'Planet', 'Tokyo', '22'], ['6', 'Joby', 'Bangkok', '30'], ['7', 'JW Marriot', 'Bangkok', '35'], ['8', 'Kenshin', 'Tokyo', '20'], ['9', 'Eloquent', 'London', '42'], ['10', 'Big Ben', 'London', '45']]

In [ ]:
print(list_data[2])

['2', 'Accor', 'London', '25']

In [ ]:
print(len(list_data))

11

In [ ]:
# new class CSV Monster
class CSVMonster():
    list_data = []

    def read_csv(self, filename):
        try:
            with open(filename, 'r') as file:
                content = csv.reader(file)
                for row in content:
                    self.list_data.append(row)
            print("Success - csv data has been loaded.")
        except:
            print("Error - couldn't load data.")

    def head(self):
        for row in self.list_data[0:6]:
            print(row)

    def tail(self):
        print(self.list_data[0])
        for row in self.list_data[-5:]:
            print(row)

    def column_names(self):
        print(self.list_data[0])

    def info(self):
        print(f"Number of columns: { len(self.list_data[0]) }")
        print(f"Number of rows: { len(self.list_data[1: ]) }")

    def filter_city(self, city):
        for row in self.list_data[1:]:
            if row[2] == city:
                print(row)
    
    def find_mean_price(self):
        prices = []
        for row in self.list_data[1:]:
            prices.append( int(row[3]) )
        avg_price = sum(prices)/ len(prices) 
        print(f"Average price per night: {avg_price}")

    def price_plus_vat(self, percent_vat):
        old_prices = []
        new_prices = [] # include vat 18%
        for row in self.list_data[1:]:
            price = int(row[3])
            old_prices.append( price )
            new_prices.append( round(price * (1+percent_vat), 2) )
        print("Old prices:", old_prices)
        print("New prices:", new_prices )

In [ ]:
my_csv_monster = CSVMonster()
my_csv_monster.read_csv('hotel.csv')

Success - csv data has been loaded.

In [ ]:
my_csv_monster.find_mean_price()

Average price per night: 32.1

In [ ]:
my_csv_monster.price_plus_vat(0.18)

Old prices: [20, 25, 32, 50, 22, 30, 35, 20, 42, 45]
New prices: [23.6, 29.5, 37.76, 59.0, 25.96, 35.4, 41.3, 23.6, 49.56, 53.1]

In [ ]:
my_csv_monster.head()

['id', 'hotel', 'location', 'pricepernight']
['1', 'Ideo', 'Bangkok', '20']
['2', 'Accor', 'London', '25']
['3', 'Premium', 'Seoul', '32']
['4', 'Super Star', 'Dubai', '50']
['5', 'Planet', 'Tokyo', '22']

In [ ]:
my_csv_monster.filter_city("London")

['2', 'Accor', 'London', '25']
['9', 'Eloquent', 'London', '42']
['10', 'Big Ben', 'London', '45']

In [ ]:
my_csv_monster.tail()

['id', 'hotel', 'location', 'pricepernight']
['6', 'Joby', 'Bangkok', '30']
['7', 'JW Marriot', 'Bangkok', '35']
['8', 'Kenshin', 'Tokyo', '20']
['9', 'Eloquent', 'London', '42']
['10', 'Big Ben', 'London', '45']

In [ ]:
my_csv_monster.info()

Number of columns: 4
Number of rows: 10

In [ ]:
my_csv_monster.column_names()

['id', 'hotel', 'location', 'pricepernight']

# **Pandas**

In [ ]:
import pandas as pd

In [ ]:
data  = pd.read_csv("Sample SuperStore.csv")

In [ ]:
data.head()

   Row ID        Order ID  Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156   11/8/2016  ...        2     0.00   41.9136
1       2  CA-2016-152156   11/8/2016  ...        3     0.00  219.5820
2       3  CA-2016-138688   6/12/2016  ...        2     0.00    6.8714
3       4  US-2015-108966  10/11/2015  ...        5     0.45 -383.0310
4       5  US-2015-108966  10/11/2015  ...        2     0.20    2.5164

[5 rows x 21 columns]

In [ ]:
data.tail()

      Row ID        Order ID Order Date  ... Quantity Discount   Profit
9989    9990  CA-2014-110422  1/21/2014  ...        3      0.2   4.1028
9990    9991  CA-2017-121258  2/26/2017  ...        2      0.0  15.6332
9991    9992  CA-2017-121258  2/26/2017  ...        2      0.2  19.3932
9992    9993  CA-2017-121258  2/26/2017  ...        4      0.0  13.3200
9993    9994  CA-2017-119914   5/4/2017  ...        2      0.0  72.9480

[5 rows x 21 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [ ]:
print("columns:", data.shape[1])
print("rows:", data.shape[0])

columns: 21
rows: 9994

In [ ]:
column_names = list( data.columns )
print(column_names)

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [ ]:
# for column in column_names:
#     print(column.lower().replace(" ", "_").replace("-", "_") )

clean_column_names = [column.lower().replace(" ", "_").replace("-", "_") for column in column_names]

print(clean_column_names)

['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'quantity', 'discount', 'profit']

In [ ]:
# replace new columns name 
data.columns = clean_column_names

In [ ]:
data.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [ ]:
# filter data
print(data.shape)
print(data.query("ship_mode == 'Standard Class' ").shape)
print(data.query("ship_mode == 'Second Class' ").shape)

(9994, 21)
(5968, 21)
(1945, 21)

In [ ]:
# filter data more than one conditions
print(data.query("ship_mode == 'Standard Class' & city == 'Los Angeles' ").shape)
print(data.query("ship_mode == 'Standard Class' & city == 'Los Angeles' & segment == 'Corporate' ").shape)

(449, 21)
(135, 21)

In [ ]:
data_1 = data.query("ship_mode == 'Standard Class' & city == 'Los Angeles' & segment == 'Corporate' ")

In [ ]:
# export data - write csv
data_1.to_csv('data_standard_class_LA_corporate.csv')

In [ ]:
# select columns
columns_i_want = ['order_id', 'ship_date', 'customer_name', 'country', 'city']

data[columns_i_want].query("city == 'Los Angeles'").head()

         order_id  ship_date    customer_name        country         city
2  CA-2016-138688  6/16/2016  Darrin Van Huff  United States  Los Angeles
5  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles
6  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles
7  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles
8  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles

In [ ]:
# drop columns
data.drop(columns = ['row_id', 'order_id', 'order_date', 'ship_date']).head()

        ship_mode customer_id    customer_name  ... quantity discount    profit
0    Second Class    CG-12520      Claire Gute  ...        2     0.00   41.9136
1    Second Class    CG-12520      Claire Gute  ...        3     0.00  219.5820
2    Second Class    DV-13045  Darrin Van Huff  ...        2     0.00    6.8714
3  Standard Class    SO-20335   Sean O'Donnell  ...        5     0.45 -383.0310
4  Standard Class    SO-20335   Sean O'Donnell  ...        2     0.20    2.5164

[5 rows x 17 columns]

In [ ]:
# query & |
data.query("ship_mode == 'Standard Class' | city == 'Miami' ").shape

(5991, 21)

In [ ]:
# data analysis with pandas
import pandas as pd 
data.value_counts('ship_mode')

ship_mode
Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
dtype: int64

In [ ]:
data.value_counts('city').head()

city
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
dtype: int64

In [ ]:
# aggregate function
data.groupby(['category', 'sub_category'])['sales', 'quantity'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                    sales  quantity
category        sub_category
Furniture       Bookcases     114879.9963       868
                Chairs        328449.1030      2356
                Furnishings    91705.1640      3563
                Tables        206965.5320      1241
Office Supplies Appliances    107532.1610      1729
                Art            27118.7920      3000
                Binders       203412.7330      5974
                Envelopes      16476.4020       906
                Fasteners       3024.2800       914
                Labels         12486.3120      1400
                Paper          78479.2060      5178
                Storage       223843.6080      3158
                Supplies       46673.5380       647
Technology      Accessories   167380.3180      2976
                Copiers       149528.0300       234
                Machines      189238.6310       440
                Phones        330007.0540      3289

In [ ]:
# aggregate function
data.groupby(['category', 'sub_category'])['sales', 'quantity'].agg(['sum', 'mean', 'median', 'count'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                    sales               ... quantity
                                      sum         mean  ...   median count
category        sub_category                            ...
Furniture       Bookcases     114879.9963   503.859633  ...        3   228
                Chairs        328449.1030   532.332420  ...        3   617
                Furnishings    91705.1640    95.825668  ...        3   957
                Tables        206965.5320   648.794771  ...        3   319
Office Supplies Appliances    107532.1610   230.755710  ...        3   466
                Art            27118.7920    34.068834  ...        3   796
                Binders       203412.7330   133.560560  ...        3  1523
                Envelopes      16476.4020    64.867724  ...        3   254
                Fasteners       3024.2800    13.936774  ...        4   217
                Labels         12486.3120    34.303055  ...        3   364
                Paper          78479.2060    57.284092  ...        3  1370
                Storage       223843.6080   264.590553  ...        3   846
                Supplies       46673.5380   245.650200  ...        3   190
Technology      Accessories   167380.3180   215.974604  ...        3   775
                Copiers       149528.0300  2198.941618  ...        3    68
                Machines      189238.6310  1645.553313  ...        3   115
                Phones        330007.0540   371.211534  ...        3   889

[17 rows x 8 columns]

In [ ]:
# aggregate function
result = data.groupby(['category', 'sub_category'])['sales', 'quantity']. \
    agg(['sum', 'mean', 'median', 'count']). \
    reset_index(). \
    head(5)

result

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

          category sub_category        sales  ...  quantity
                                         sum  ...      mean median count
0        Furniture    Bookcases  114879.9963  ...  3.807018      3   228
1        Furniture       Chairs  328449.1030  ...  3.818476      3   617
2        Furniture  Furnishings   91705.1640  ...  3.723093      3   957
3        Furniture       Tables  206965.5320  ...  3.890282      3   319
4  Office Supplies   Appliances  107532.1610  ...  3.710300      3   466

[5 rows x 10 columns]

# **Basic Machine Learning**

In [ ]:
import pandas as pd 
from sklearn.linear_model import LinearRegression

In [ ]:
home_data_train = pd.read_csv("home_data_train.csv")
home_data_train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [ ]:
home_data_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
# select columns we want 
list_columns = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 
                 'FullBath', 'BedroomAbvGr' ,'TotRmsAbvGrd']

X = home_data_train[list_columns]

y = home_data_train['SalePrice']

In [ ]:
# target = f( features )
# SalePrice = b0 + b1*Bedroom + b2*YearBuilt + ..

In [ ]:
# import library
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error # MAE, MSE

# init model
LinearModel = LinearRegression() 

# training = fitting
LinearModel.fit(features, target) # model.fit(X, y)

# make predictions
predictions = LinearModel.predict(features)

# evaluate model
print("MAE:", mean_absolute_error(target, predictions ) )
print("MSE:", mean_squared_error(target, predictions) )
print("RMSE:", mean_squared_error(target, predictions, squared=False) )

MAE: 27667.254099950267
MSE: 1858279763.751837
RMSE: 43107.76918087779

In [ ]:
# actual
target.head().to_list()

[208500, 181500, 223500, 140000, 250000]

In [ ]:
# Full Loop - Train Test Split

# import library
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error 
from sklearn.model_selection import train_test_split

# select features (X) and target (y)
X = home_data_train[list_columns]
y = home_data_train['SalePrice']

# train test split
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2, random_state=42) # set.seed()

In [ ]:
print(train_X.shape)
print(val_X.shape)

(1168, 7)
(292, 7)

In [ ]:
# init model
model_linear = LinearRegression()
model_decision_tree = DecisionTreeRegressor()
model_random_forest = RandomForestRegressor()

# training (fitting)
model_linear.fit(train_X, train_y)
model_decision_tree.fit(train_X, train_y)
model_random_forest.fit(train_X, train_y)

# predict 
predictions_linear = model_linear.predict(val_X)
predictions_tree = model_decision_tree.predict(val_X)
predictions_forest = model_random_forest.predict(val_X)

# evaluate
print("Linear MAE:", mean_absolute_error(val_y, predictions_linear ))
print("Tree MAE:", mean_absolute_error(val_y, predictions_tree ))
print("Forest MAE:", mean_absolute_error(val_y, predictions_forest ))

Linear MAE: 29296.71764224996
Tree MAE: 30065.931506849316
Forest MAE: 22092.867477168948

In [ ]:
# load test data
home_data_test = pd.read_csv("home_data_test.csv")

In [ ]:
test_X = home_data_test[list_columns]

test_predictions = model.predict(test_X)

print(test_predictions[:10])

[123618.71823424 155890.79963305 201898.41089162 205228.46992771
 187151.23255309 200228.25107118 167180.58069166 189876.304623
 195516.06726374 122030.5487883 ]

# **Hello World Tensorflow**

In [ ]:
import tensorflow as tf 
import numpy as np
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense 
print(tf.__version__)

2.5.0

In [ ]:
model2 = Sequential()
model2.add( Dense(units=1, input_shape=[1] ) )
model2.compile(optimizer= 'sgd', loss='mean_squared_error')
model2.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# y = 2x - 1
x = np.array( [-1.0, 0.0, 1.0, 2.0, 3.0, 4.0] )
y = 2*x - 1 # parameter == linear regression

print("x:", x)
print("y:", y)

x: [-1.  0.  1.  2.  3.  4.]
y: [-3. -1.  1.  3.  5.  7.]

In [ ]:
model2.fit(x, y, epochs = 200)

Epoch 1/200
1/1 [==============================] - 0s 6ms/step - loss: 2.9739
Epoch 2/200
1/1 [==============================] - 0s 5ms/step - loss: 2.5168
Epoch 3/200
1/1 [==============================] - 0s 3ms/step - loss: 2.1535
Epoch 4/200
1/1 [==============================] - 0s 3ms/step - loss: 1.8641
Epoch 5/200
1/1 [==============================] - 0s 3ms/step - loss: 1.6329
Epoch 6/200
1/1 [==============================] - 0s 8ms/step - loss: 1.4476
Epoch 7/200
1/1 [==============================] - 0s 3ms/step - loss: 1.2985
Epoch 8/200
1/1 [==============================] - 0s 3ms/step - loss: 1.1779
Epoch 9/200
1/1 [==============================] - 0s 4ms/step - loss: 1.0798
Epoch 10/200
1/1 [==============================] - 0s 3ms/step - loss: 0.9994
Epoch 11/200
1/1 [==============================] - 0s 3ms/step - loss: 0.9332
Epoch 12/200
1/1 [==============================] - 0s 3ms/step - loss: 0.8780
Epoch 13/200
1/1 [==============================] - 0s 3ms/step - loss: 0.8317
Epoch 14/200
1/1 [==============================] - 0s 3ms/step - loss: 0.7923
Epoch 15/200
1/1 [==============================] - 0s 3ms/step - loss: 0.7585
Epoch 16/200
1/1 [==============================] - 0s 4ms/step - loss: 0.7291
Epoch 17/200
1/1 [==============================] - 0s 3ms/step - loss: 0.7033
Epoch 18/200
1/1 [==============================] - 0s 5ms/step - loss: 0.6803
Epoch 19/200
1/1 [==============================] - 0s 3ms/step - loss: 0.6596
Epoch 20/200
1/1 [==============================] - 0s 3ms/step - loss: 0.6408
Epoch 21/200
1/1 [==============================] - 0s 3ms/step - loss: 0.6235
Epoch 22/200
1/1 [==============================] - 0s 5ms/step - loss: 0.6074
Epoch 23/200
1/1 [==============================] - 0s 3ms/step - loss: 0.5924
Epoch 24/200
1/1 [==============================] - 0s 3ms/step - loss: 0.5782
Epoch 25/200
1/1 [==============================] - 0s 4ms/step - loss: 0.5647
Epoch 26/200
1/1 [==============================] - 0s 3ms/step - loss: 0.5519
Epoch 27/200
1/1 [==============================] - 0s 4ms/step - loss: 0.5395
Epoch 28/200
1/1 [==============================] - 0s 3ms/step - loss: 0.5277
Epoch 29/200
1/1 [==============================] - 0s 4ms/step - loss: 0.5162
Epoch 30/200
1/1 [==============================] - 0s 5ms/step - loss: 0.5051
Epoch 31/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4944
Epoch 32/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4839
Epoch 33/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4738
Epoch 34/200
1/1 [==============================] - 0s 4ms/step - loss: 0.4638
Epoch 35/200
1/1 [==============================] - 0s 7ms/step - loss: 0.4542
Epoch 36/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4447
Epoch 37/200
1/1 [==============================] - 0s 7ms/step - loss: 0.4355
Epoch 38/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4265
Epoch 39/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4177
Epoch 40/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4091
Epoch 41/200
1/1 [==============================] - 0s 3ms/step - loss: 0.4006
Epoch 42/200
1/1 [==============================] - 0s 2ms/step - loss: 0.3924
Epoch 43/200
1/1 [==============================] - 0s 2ms/step - loss: 0.3843
Epoch 44/200
1/1 [==============================] - 0s 3ms/step - loss: 0.3764
Epoch 45/200
1/1 [==============================] - 0s 3ms/step - loss: 0.3686
Epoch 46/200
1/1 [==============================] - 0s 3ms/step - loss: 0.3610
Epoch 47/200
1/1 [==============================] - 0s 2ms/step - loss: 0.3536
Epoch 48/200
1/1 [==============================] - 0s 2ms/step - loss: 0.3463
Epoch 49/200
1/1 [==============================] - 0s 3ms/step - loss: 0.3392
Epoch 50/200
1/1 [==============================] - 0s 3ms/step - loss: 0.3323
Epoch 51/200
1/1 [==============================] - 0s 3ms/step - loss: 0.3254
Epoch 52/200
1/1 [==============================] - 0s 3ms/step - loss: 0.3187
Epoch 53/200
1/1 [==============================] - 0s 4ms/step - loss: 0.3122
Epoch 54/200
1/1 [==============================] - 0s 6ms/step - loss: 0.3058
Epoch 55/200
1/1 [==============================] - 0s 4ms/step - loss: 0.2995
Epoch 56/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2933
Epoch 57/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2873
Epoch 58/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2814
Epoch 59/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2756
Epoch 60/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2700
Epoch 61/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2644
Epoch 62/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2590
Epoch 63/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2537
Epoch 64/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2485
Epoch 65/200
1/1 [==============================] - 0s 4ms/step - loss: 0.2434
Epoch 66/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2384
Epoch 67/200
1/1 [==============================] - 0s 4ms/step - loss: 0.2335
Epoch 68/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2287
Epoch 69/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2240
Epoch 70/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2194
Epoch 71/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2149
Epoch 72/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2105
Epoch 73/200
1/1 [==============================] - 0s 5ms/step - loss: 0.2061
Epoch 74/200
1/1 [==============================] - 0s 3ms/step - loss: 0.2019
Epoch 75/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1977
Epoch 76/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1937
Epoch 77/200
1/1 [==============================] - 0s 7ms/step - loss: 0.1897
Epoch 78/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1858
Epoch 79/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1820
Epoch 80/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1783
Epoch 81/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1746
Epoch 82/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1710
Epoch 83/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1675
Epoch 84/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1641
Epoch 85/200
1/1 [==============================] - 0s 7ms/step - loss: 0.1607
Epoch 86/200
1/1 [==============================] - 0s 5ms/step - loss: 0.1574
Epoch 87/200
1/1 [==============================] - 0s 6ms/step - loss: 0.1542
Epoch 88/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1510
Epoch 89/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1479
Epoch 90/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1448
Epoch 91/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1419
Epoch 92/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1390
Epoch 93/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1361
Epoch 94/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1333
Epoch 95/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1306
Epoch 96/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1279
Epoch 97/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1253
Epoch 98/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1227
Epoch 99/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1202
Epoch 100/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1177
Epoch 101/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1153
Epoch 102/200
1/1 [==============================] - 0s 3ms/step - loss: 0.1129
Epoch 103/200
1/1 [==============================] - 0s 5ms/step - loss: 0.1106
Epoch 104/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1083
Epoch 105/200
1/1 [==============================] - 0s 5ms/step - loss: 0.1061
Epoch 106/200
1/1 [==============================] - 0s 4ms/step - loss: 0.1039
Epoch 107/200
1/1 [==============================] - 0s 5ms/step - loss: 0.1018
Epoch 108/200
1/1 [==============================] - 0s 6ms/step - loss: 0.0997
Epoch 109/200
1/1 [==============================] - 0s 6ms/step - loss: 0.0976
Epoch 110/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0956
Epoch 111/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0937
Epoch 112/200
1/1 [==============================] - 0s 159ms/step - loss: 0.0918
Epoch 113/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0899
Epoch 114/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0880
Epoch 115/200
1/1 [==============================] - 0s 10ms/step - loss: 0.0862
Epoch 116/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0844
Epoch 117/200
1/1 [==============================] - 0s 14ms/step - loss: 0.0827
Epoch 118/200
1/1 [==============================] - 0s 8ms/step - loss: 0.0810
Epoch 119/200
1/1 [==============================] - 0s 13ms/step - loss: 0.0793
Epoch 120/200
1/1 [==============================] - 0s 6ms/step - loss: 0.0777
Epoch 121/200
1/1 [==============================] - 0s 9ms/step - loss: 0.0761
Epoch 122/200
1/1 [==============================] - 0s 7ms/step - loss: 0.0746
Epoch 123/200
1/1 [==============================] - 0s 6ms/step - loss: 0.0730
Epoch 124/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0715
Epoch 125/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0701
Epoch 126/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0686
Epoch 127/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0672
Epoch 128/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0658
Epoch 129/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0645
Epoch 130/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0631
Epoch 131/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0619
Epoch 132/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0606
Epoch 133/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0593
Epoch 134/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0581
Epoch 135/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0569
Epoch 136/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0558
Epoch 137/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0546
Epoch 138/200
1/1 [==============================] - 0s 6ms/step - loss: 0.0535
Epoch 139/200
1/1 [==============================] - 0s 12ms/step - loss: 0.0524
Epoch 140/200
1/1 [==============================] - 0s 6ms/step - loss: 0.0513
Epoch 141/200
1/1 [==============================] - 0s 11ms/step - loss: 0.0503
Epoch 142/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0492
Epoch 143/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0482
Epoch 144/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0472
Epoch 145/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0463
Epoch 146/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0453
Epoch 147/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0444
Epoch 148/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0435
Epoch 149/200
1/1 [==============================] - 0s 7ms/step - loss: 0.0426
Epoch 150/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0417
Epoch 151/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0408
Epoch 152/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0400
Epoch 153/200
1/1 [==============================] - 0s 2ms/step - loss: 0.0392
Epoch 154/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0384
Epoch 155/200
1/1 [==============================] - 0s 2ms/step - loss: 0.0376
Epoch 156/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0368
Epoch 157/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0361
Epoch 158/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0353
Epoch 159/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0346
Epoch 160/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0339
Epoch 161/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0332
Epoch 162/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0325
Epoch 163/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0318
Epoch 164/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0312
Epoch 165/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0305
Epoch 166/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0299
Epoch 167/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0293
Epoch 168/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0287
Epoch 169/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0281
Epoch 170/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0275
Epoch 171/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0270
Epoch 172/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0264
Epoch 173/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0259
Epoch 174/200
1/1 [==============================] - 0s 152ms/step - loss: 0.0253
Epoch 175/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0248
Epoch 176/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0243
Epoch 177/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0238
Epoch 178/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0233
Epoch 179/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0228
Epoch 180/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0224
Epoch 181/200
1/1 [==============================] - 0s 9ms/step - loss: 0.0219
Epoch 182/200
1/1 [==============================] - 0s 10ms/step - loss: 0.0215
Epoch 183/200
1/1 [==============================] - 0s 11ms/step - loss: 0.0210
Epoch 184/200
1/1 [==============================] - 0s 7ms/step - loss: 0.0206
Epoch 185/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0202
Epoch 186/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0198
Epoch 187/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0193
Epoch 188/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0189
Epoch 189/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0186
Epoch 190/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0182
Epoch 191/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0178
Epoch 192/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0174
Epoch 193/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0171
Epoch 194/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0167
Epoch 195/200
1/1 [==============================] - 0s 4ms/step - loss: 0.0164
Epoch 196/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0160
Epoch 197/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0157
Epoch 198/200
1/1 [==============================] - 0s 5ms/step - loss: 0.0154
Epoch 199/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0151
Epoch 200/200
1/1 [==============================] - 0s 3ms/step - loss: 0.0148

In [ ]:
# y = 2x - 1
# y = 2*10 - 1 = 19
model2.predict([10.0])

array([[18.645403]], dtype=float32)