In [67]:
# import library
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [68]:
# setting up
MY_URL = "https://www.worldometers.info/coronavirus"
page = requests.get(MY_URL)
soup = BeautifulSoup(page.text, 'html5lib')

In [69]:
soup.find_all('h1')

In [70]:
# find table header in soup
table_header = soup.select('#main_table_countries_today thead tr')

In [71]:
table_header

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 <th width="30">New Cases/1M pop</th>
 <th width="30">New Deaths/1M pop</th>
 <th width="30">Active Cases/1M pop</th>
 </tr>]

In [72]:
header = [th.text.strip() for th in table_header[0]('th')]

In [73]:
header

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 '1 Testevery X ppl',
 'New Cases/1M pop',
 'New Deaths/1M pop',
 'Active Cases/1M pop']

In [74]:
# find table header in soup
table_rows = soup.select('#main_table_countries_today tbody tr')

In [75]:
rows_list = []
for tr in table_rows:
    row = [td.text.strip() for td in tr('td')]
    rows_list.append(row)

print(rows_list[:3])

[['', 'North America', '38,196,124', '+23,841', '859,558', '+615', '29,884,387', '+13,914', '7,452,179', '17,534', '', '', '', '', '', 'North America', '', '', '', '', '', ''], ['', 'Asia', '38,991,232', '+509,380', '515,488', '+5,186', '33,363,990', '+409,451', '5,111,754', '32,202', '', '', '', '', '', 'Asia', '', '', '', '', '', ''], ['', 'South America', '24,635,810', '+8,293', '663,780', '+209', '22,283,554', '+6,762', '1,688,476', '27,668', '', '', '', '', '', 'South America', '', '', '', '', '', '']]

In [76]:
# create a new dataframe
df = pd.DataFrame(rows_list, columns = header)
df.head()

  #  Country,Other  ... New Deaths/1M pop Active Cases/1M pop
0    North America  ...
1             Asia  ...
2    South America  ...
3           Europe  ...
4           Africa  ...

[5 rows x 22 columns]

In [77]:
df[df["Country,Other"] == "Thailand"]

       # Country,Other  ... New Deaths/1M pop Active Cases/1M pop
109  102      Thailand  ...               0.1                 400

[1 rows x 22 columns]

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    238 non-null    object
 1   Country,Other        238 non-null    object
 2   TotalCases           238 non-null    object
 3   NewCases             238 non-null    object
 4   TotalDeaths          238 non-null    object
 5   NewDeaths            238 non-null    object
 6   TotalRecovered       238 non-null    object
 7   NewRecovered         238 non-null    object
 8   ActiveCases          238 non-null    object
 9   Serious,Critical     238 non-null    object
 10  Tot Cases/1M pop     238 non-null    object
 11  Deaths/1M pop        238 non-null    object
 12  TotalTests           238 non-null    object
 13  Tests/
1M pop        238 non-null    object
 14  Population           238 non-null    object
 15  Continent            238 non-null    object
 16  1 Caseevery X ppl    238 non-null    object
 17  1 Deathevery X ppl   238 non-null    object
 18  1 Testevery X ppl    238 non-null    object
 19  New Cases/1M pop     238 non-null    object
 20  New Deaths/1M pop    238 non-null    object
 21  Active Cases/1M pop  238 non-null    object
dtypes: object(22)
memory usage: 41.0+ KB

In [79]:
df.query('TotalCases == "30,869"')

Empty DataFrame
Columns: [#, Country,Other, TotalCases, NewCases, TotalDeaths, NewDeaths, TotalRecovered, NewRecovered, ActiveCases, Serious,Critical, Tot Cases/1M pop, Deaths/1M pop, TotalTests, Tests/
1M pop, Population, Continent, 1 Caseevery X ppl, 1 Deathevery X ppl, 1 Testevery X ppl, New Cases/1M pop, New Deaths/1M pop, Active Cases/1M pop]
Index: []

In [80]:
df.columns = [
    'no',
    'country',
    'totalcases',
    'newcases',
    'totaldeaths',
    'newdeaths',
    'totalrecovered',
    'newrecovered',
    'activecases',
    'serious_critical',
    'total_case_1m_pop',
    'total_deaths_1m_pop',
    'total_tests',
    'test_1m_pop',
    'population',
    'continent',
    '1 Caseevery X ppl',
    '1 Deathevery X ppl',
    '1 Testevery X ppl',
    'New Cases/1M pop',
    'New Deaths/1M pop',
    'Active Cases/1M pop'
];

In [81]:
df.query("country == 'Thailand'")

      no   country  ... New Deaths/1M pop Active Cases/1M pop
109  102  Thailand  ...               0.1                 400

[1 rows x 22 columns]

In [82]:
df['totalcases'] = df['totalcases'].str.replace(',', '').astype('int')
df.head()

  no        country  ...  New Deaths/1M pop Active Cases/1M pop
0     North America  ...
1              Asia  ...
2     South America  ...
3            Europe  ...
4            Africa  ...

[5 rows x 22 columns]

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   no                   238 non-null    object
 1   country              238 non-null    object
 2   totalcases           238 non-null    int64
 3   newcases             238 non-null    object
 4   totaldeaths          238 non-null    object
 5   newdeaths            238 non-null    object
 6   totalrecovered       238 non-null    object
 7   newrecovered         238 non-null    object
 8   activecases          238 non-null    object
 9   serious_critical     238 non-null    object
 10  total_case_1m_pop    238 non-null    object
 11  total_deaths_1m_pop  238 non-null    object
 12  total_tests          238 non-null    object
 13  test_1m_pop          238 non-null    object
 14  population           238 non-null    object
 15  continent            238 non-null    object
 16  1 Caseevery X ppl    238 non-null    object
 17  1 Deathevery X ppl   238 non-null    object
 18  1 Testevery X ppl    238 non-null    object
 19  New Cases/1M pop     238 non-null    object
 20  New Deaths/1M pop    238 non-null    object
 21  Active Cases/1M pop  238 non-null    object
dtypes: int64(1), object(21)
memory usage: 41.0+ KB

# **Line Notify**

In [84]:
# get first values
Country = df.query("country == 'Thailand'")['country'].values[0]
Totalcases = df.query("country == 'Thailand'")['totalcases'].values[0]

In [85]:
line_token = "111gScuWIyAUhS6lyYKuvCYRm83FzipEnbrh5GEKAO3"

In [86]:
def line_notify(message, token):
    url = "https://notify-api.line.me/api/notify"
    data = ({'message': message})
    LINE_HEADERS = {"Authorization": "Bearer " + token}
    session = requests.Session()
    response = session.post(url, headers=LINE_HEADERS, data = data)
    return response

In [87]:
response = line_notify('\nผู้ติดเชื้อ Covid ประเทศ: ' + Country + '\nจำนวน: ' + str(Totalcases), line_token)

In [88]:
df.head()

  no        country  ...  New Deaths/1M pop Active Cases/1M pop
0     North America  ...
1              Asia  ...
2     South America  ...
3            Europe  ...
4            Africa  ...

[5 rows x 22 columns]